.App {
  background-color: rgb(106, 7, 176);
  height: 100vh;
}

div.inputArea{
  width: 30%;
  height: 20rem;
  overflow-y: scroll;
  margin-left: 10%;
}
div.outputArea{
  width: 55%;
  height: 30rem;
}
img {
  width: 65%;
  height: 75%;
}
div#preview {
  height: 30rem;
  overflow-y: scroll;
}
code {
  display: flex;
  background-color: black;
  color:chartreuse !important;
  justify-content: center;
}
